<div class="midlePan">
  <a href="<%= new_admin_book_path %>">Add New Book</a>
  <h3>List Of Books</h3>

  <table class="table table-striped">
    <tr>
      <th>No.</th>
      <th>Book Title</th>
      <th>Author</th>
      <th></th>
    </tr>
    <% number = 0 %>
    <% @books.each do |book| %>
    <tr>
      <td><%= number += 1 %>.</td>
      <td><%= book.name %></td>
      <td><%= book.author %></td>
      <td>
        <%= link_to 'Edit', edit_admin_book_path(book), class: "btn btn-xs btn-success" %>
        <%= link_to 'Destroy', admin_book_path(book), class: "btn btn-xs btn-danger", id: "destroy_task" , method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </table>
</div>