<div id="wrap">
  <div id="main" class="container clear-top">

    <div id="topPan">
      <div class="logoImage">
        <%= image_tag "logo.png" %> 
      </div>
      <div class="logoTitle">
        Books Review
      </div>
      <div class="clearing">
        &nbsp;
      </div>
      <div class="navBar">
        <nav class="navbar navbar-default" role="navigation">
          <ul class="nav navbar-nav">
            <li class="active">
                <%= link_to "Home", root_path %>
            </li>
            <li>
              <%= link_to "Book Release", news_books_path %>
            </li>
          </ul>
        </nav>
      </div>
      <div class="sign-form">
      <% if user_signed_in? == false %>
        <%= form_for(@user, :as => :user, :url => session_path(:user)) do |f| %>
          <%#= devise_error_messages! %>
          Email: <%= f.email_field :email, :autofocus => true %>
          Password:<%= f.password_field :password %>
          <%= f.submit "Sign in" %>
        <% end %>
       Not a member? <!--<a href="#">Sign Up</a>-->
      <% end %>
    <% if user_signed_in? %>
        Logged in as <strong><%= current_user.email %></strong>.
        <%#= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
        <%= link_to "Administrator", admin_root_path if current_user.role == "admin"  %>
        <%= link_to "Reviewer", reviewer_root_path if current_user.role == "reviewer"  %>
        |
        <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
        <%= link_to "Sign up,", new_user_registration_path, :class => 'navbar-link'  %>
        <%#= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <a href="#">Forgot Password?</a>
    <% end %>
      </div>
    </div>

    <div id="middlePan">
      <div class="row">
        <div class="col-md-8">

        <h3>Feature</h3>
          <div class="feature">
            <div class="feature-img">
              <a href="<%= books_path %>/feature"><%= image_tag @featured.photo.url %></a> 
            </div>
            <div class="feature-summary">
              <%= @featured.description %>
            </div>
            <div class="clearing"></div>
          </div>

          <h3>Books</h3>
          <div class="books">
          <% @books.each do |book| %>
            <div class="box">
              <a href="<%= books_path%>/<%= book.id %>"> <%= image_tag book.photo.url %> </a>
            </div>
          <% end %>
            <%= link_to "more..", books_path, class: "text-right" %>
            <div class="clearing"></div>
          </div>

          <h3>Category</h3>
          <div class="category">            
              <ul>
              <% @categories.each do |category| %>
                <li>
                <%= link_to category.name, category_path(category) %></li>
              <% end %>
              </ul>
          </div>

        </div>

        <div class="col-md-4">

          <div class="new-review">
            <h3>New Review</h3>
            <% 3.times do %>
              <div class="review">
                <%= image_tag 'the_namesake.jpg' %>
                <p>
                  Book Title<br/>
                  <small>Reviewed by: Tony</small>
                </p>
              </div>
              <div class="clearing"></div>
            <% end %>
          </div>
          <div class="popular-review">
            <h3>Popular</h3>
            <% 3.times do %>
              <div class="review">
                <%= image_tag 'the_namesake.jpg' %>
                <p>
                  Book Title<br/>
                  <small>Reviewed by: Tony</small>
                </p>
              </div>
              <div class="clearing"></div>
            <% end %>            
          </div>
          <div class="reviewer">
            <!-- #Reviewer -->
          </div>

        </div>
      </div>
    </div>

    <div id="bottomPan">
      <!-- #Bottom Pan -->
    </div>
    
  </div>
</div>
<div class="footer">
  <div class="container">
    <p>&copy; 2013. Akademi Rails.</p>
  </div>
</div>