<div class="midlePan">
  <a href="<%= new_admin_user_path %>/?role=reviewer">Add New Reviewer</a>
  <h3>List Of Reviewer</h3>
  <table class="table table-striped">
    <tr>
      <th>No.</th>
      <th>Email</th>
      <th></th>
    </tr>
    <% number = 0 %>
    <% @reviewers.each do |reviewer| %>
    <tr>
      <td><%= number += 1 %>.</td>
      <td><%= reviewer.email %></td>
      <td>
        <%= link_to 'Edit', edit_admin_user_path(reviewer), class: "btn btn-xs btn-success" %>
        <%= link_to 'Destroy', admin_user_path(reviewer), class: "btn btn-xs btn-danger", id: "destroy_task" , method: :delete, data: { confirm: 'Are you sure?' } %>
      </td>
    </tr>
    <% end %>
  </table>
</div>